{% extends "base.html" %}
{% block content %}

  {% for Princesses in princesses.items %}
       {% if loop.index == 1 %}{% set counter = ( counter | default(1) ) %}{% endif %}
        {% if counter == 1 %}<div class="row">{% endif %}
        <div class="col-md-4">
          <div class="thumbnail">  
              <p>Col#:{{ loop.index }}<br>PrincessID:{{ Princesses.princessID }}<br>Princess Name:{{ Princesses.name }}<br>Chinesename:{{ Princesses.chinesename }}<br>Status:{{ Princesses.status }}<br>Species:{{ Princesses.species }}<br>Animation:{{ Princesses.animation }}</p>
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
          </div>
        </div> 
       {% if counter == 3 %}</div><!--end row-->{%  set counter = ( counter | default(1) ) %}{% else %}{% set counter = ( counter | default(0) ) + 1 %}{% endif %}
  {% endfor %}
  <div class="container" style="float: left;">
  {% for page in princesses.iter_pages() %}  
    {% if page %}
        <a href="{{url_for('album')}}/{{ page }}">{{ page }}</a>
    {% else %}
        ...
    {% endif %}
  {% endfor %}  
  </div>
{% endblock %}