@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Merriweather+Sans|Montserrat|Questrial&display=swap');
@import url('https://fonts.googleapis.com/css?family=Marcellus+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Arapey|Cinzel|Cookie|News+Cycle|Philosopher|Poiret+One|Sulphur+Point&display=swap');

.overlay1 {
  position: fixed;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(0, 0, 0);
  text-align: center;
}
.disney_icon{
  width:5em;
  margin-bottom:4em;
  filter: invert(33%) sepia(1%) saturate(0%) hue-rotate(139deg) brightness(102%) contrast(103%);
}
.enterTitle {
  font-family: 'WaltographRegular';
  color: #555; text-shadow: -0.15em 0.15em 0.1em rgba(172, 72, 72, 0.4);
  font-size: 7.7em;
  letter-spacing: 0.05em;
}
.enterSubTitle {
  font-family: 'Marcellus SC';
  font-size: 2.5em;
  color: #666; text-shadow: -0.2em 0.2em 0.2em rgba(172, 72, 72, 0.5);
  margin-top:1em;
  letter-spacing: 0.2em;
}
.enterLink {
  font-family: 'Marcellus SC';
  font-size: 2.5em;
  color: #555; text-shadow: -0.05em 0.05em 0.5em rgba(172, 72, 72, 0.8);
  margin-top: 2.5em;
}
.enterLink:hover {color:#555}
.fa {color: rgb(250, 250, 250)} /* icon颜色 */
.fa-flip-vertical {
  color:#555;
  margin-right: 0.3em;
}

.et-right {font-size: 1em;}
/* navbar */
.navbar {
  margin:0;
  background:rgb(219, 162, 185);
}
.nav-item {margin-left: 0.3em;}
.navbar-brand{
  font-family: 'WaltographRegular';
  font-size: x-large;
  padding-top: 16px;
  letter-spacing: 0.03em;
}
.nav-link {font-size: 1.1em;} 
/* navbar End */
/* second nav*/
.second_nav{
  padding: 3em 0 3em 0;
  margin-bottom: 1.5em;
  background: rgb(87, 100, 105, 0.1);
}
#second_nav_shopping{
  margin: 5.4em 0 0 0;
  background: #fff;
}
/* second nav End */
.imgBox{
  background-image:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.507),rgba(0, 0, 0, 0.801), rgb(0, 0, 0));
}
.imgBox img {mix-blend-mode:multiply;}
.newsTitle{
  margin-bottom:0.5em;
  font-size: 3em;
  font-family: 'Josefin Sans';
  color: #fff; text-shadow: 0.1em -0.1em 0.1em black;
}
.newsContent {
  margin-top:1em;
  margin-bottom:0.3em;
  font-size:1.5em;
  color: #fff; text-shadow: 0.1em -0.1em 0.25em black;
}
.newsAuthor {
  margin-top:2.5em;
  margin-bottom:0.5em;
  color: #fff; text-shadow: 0.1em -0.1em 0.25em black;
}
.text-center{
  font-family: 'Josefin Sans';
  color:#333; text-shadow: 0 0 0.1em rgb(180, 180, 180);
}
.section {color: #444;}
.shadow{
  font-size: 1.5em;
  text-align: center;
  font-family: 'Josefin Sans';
  color: #333; text-shadow: 0 0 0.1em rgb(180, 180, 180);
  background: rgb(219, 162, 185, 0.15);
}
.shadow:hover {
  color: #111; text-shadow: 0.1em 0.1em 0.3em rgba(125, 156, 182, 0.562);
  background: #fff;
}
/* footer */
.footer-brand{
  font-family: 'WaltographRegular';
  color:rgba(87, 100, 105, 0.8);
  margin-top:3em;
  letter-spacing: 0.03em;
}
.footer-content{
  color:rgba(87, 100, 105, 0.9);
  word-spacing: 1em;
  font-family: 'Philosopher';
}
.fa-instagram{color:rgba(87, 100, 105, 0.9); margin:0 0.25em 0 0.25em}
.fa-twitter{color:rgba(87, 100, 105, 0.9); margin:0 0.25em 0 0.25em}
.fa-facebook{color:rgba(87, 100, 105, 0.9); margin:0 0.25em 0 0.25em}
.fa-pinterest{color:rgba(87, 100, 105, 0.9); margin:0 0.25em 0 0.25em}
/* footer End */
/* card End */
#card_title {
  color:white;
  margin:0;
}
#card_intro {
  color:rgb(226, 226, 226);
  font-family: 'Josefin Sans';
  font-size: large;
}
.card-img-top {
  width:100%;
  height: 16vw;
}
.card-title {
  font-family: 'Josefin Sans';
  color:#333; text-shadow: 0 0 0.2em rgb(180, 180, 180);
}
.card-text {
  font-family: 'Josefin Sans';
  color: #444; text-shadow: 0 0 0.1em rgb(180, 180, 180);
}
.text_header{
  background:rgba(87, 100, 105, 0.2);
}
.text_body{
  background:rgba(87, 100, 105, 0.1);
  height:18em; 
  float:left; 
  overflow-y: scroll
}
.text_footer{
  background:rgba(87, 100, 105, 0.15);
  padding-left:9.5%;
}
.text_title{
  margin: 0.7em 10% 0.5em 10%;
  text-align: left;
}
.text_content{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.6em;
  line-height: 1.6em;
  margin: 1em 10% 1em 10%;
  text-align: left;
  color: #444; text-shadow: 0 0 0;
}
.nav-link-title{ 
  font-size: 1.5em; 
  font-family: 'Josefin Sans';
  color: rgb(52, 88, 102); text-shadow: 0 0 0.2em rgba(255, 255, 255);
} 
.nav-link-title:hover {color:#000; text-shadow: 0 0 0.2em  rgba(164, 187, 196, 0.479);}
/* card End */
.subtitle {
  color:#555;
  font-family: 'Marcellus SC';
  margin-left:3.3em;
}
.video_row {margin:2em 3em 0 3em}
.video_title {margin-top:0.5em; color:#333}
.pointer{cursor: pointer;}
.fa-play-circle{position: relative; margin:0em; padding:0}
.overlay {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 1em;
  left: 0;
  right: 0;
  z-index: 10;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(0, 0, 0);
  text-align: center;
}

#actresses {
  display: none;
}
#actress_card {
  background-image: linear-gradient(rgba(245, 196, 219, 0.329), rgba(185, 240, 253, 0.6)),  url('https://images.unsplash.com/photo-1508020268086-b96cf4f4bb2e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80');
}
#map{
  height: 38em; 
  width: 100%;
  bottom:0;
  left:0;
  right:0;
  border:3px dashed rgba(87, 100, 105, 0.5);
}
.location_name{font-size: 1.4em;}
.travelguides_container{
  background-image: linear-gradient(rgba(255, 255, 255, 0.589), rgba(255, 255, 255, 0.767)), url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1574490508830&di=ae04769b93faaffe357a0e39c58a73f6&imgtype=jpg&src=http%3A%2F%2Fimg3.imgtn.bdimg.com%2Fit%2Fu%3D476851863%2C1813084086%26fm%3D214%26gp%3D0.jpg); 
  background-position: right bottom;  
  background-size: cover; 
  background-repeat: repeat; 
  background-attachment: fixed;
}
.mb-0{
  font-family: 'Cinzel';
  color: rgb(47, 66, 63); text-shadow: 0 0 0.1em rgba(180, 180, 180, 0.8);
}
.well{
  height: 40em;
  margin-top: 1em;
}
.slide_title{
  font-family: 'Cinzel';
  color:#333; text-shadow: 0 0 0.1em rgb(180, 180, 180);
  margin-bottom: 1em;
}
.slide_content{
  font-size: 1.5em;
  font-family: 'Josefin Sans';
  color: #444;
  margin-bottom: 1em;
  line-height: 1.5em;
}
#dolls_slide{
  margin-top:0;
  background-image: linear-gradient(rgba(255, 182, 216, 0.7),rgba(255, 182, 216, 0.4), rgba(220, 255, 255, 0.6)), url(https://images.pexels.com/photos/2088203/pexels-photo-2088203.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500); 
  background-position: right bottom;  
  background-size: cover; 
  background-repeat: repeat; 
  background-attachment: fixed;
}
#cosmetics_slide{
  margin-top:0;
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(https://images.pexels.com/photos/2088203/pexels-photo-2088203.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500); 
  background-position: right bottom;  
  background-size: cover; 
  background-repeat: repeat; 
  background-attachment: fixed;
}


/* 按钮 */
.btn{font-size: 1.1em; border-radius: 0; padding:0.7em 1em 0.7em 1em;}
.btn:hover {box-shadow: 0 0.5em 0.5em 0 rgba(255, 255, 255, 0.24), 0 1em 2em 0 rgba(255, 255, 255, 0.19);}
#show_airtable{
  background-color: rgba(255, 255, 255, 0.959);
  color:black;
  border:0;
}
#hide_airtable{
  background-color: rgba(0, 0, 0, 0);
  color:white; 
  border:1px solid white;
}
#show_animated{
  background-color: rgb(87, 100, 105);
  color:white; 
  box-shadow: 0 0.3em 0.3em 0 rgba(107, 106, 106, 0.24), 0 1em 1em 0 rgba(119, 118, 118, 0.19);
  border:1px solid rgb(87, 100, 105);
}
#hide_animated{
  background-color: rgba(153, 153, 153, 0.377);
  color:black;
  box-shadow: 0 0.3em 0.3em 0 rgba(189, 187, 187, 0.24), 0 1em 1em 0 rgba(180, 179, 179, 0.19);
  border:0;
}
#show_animated:hover {box-shadow: 0 0.5em 0.5em 0 rgba(136, 136, 136, 0.6), 0 1em 2em 0 rgba(129, 129, 129, 0.7);}
#hide_animated:hover {box-shadow: 0 0.5em 0.5em 0 rgba(136, 136, 136, 0.6), 0 1em 2em 0 rgba(129, 129, 129, 0.7);}
#show_remake{
  background-color: rgb(87, 100, 105);
  color:white; 
  box-shadow: 0 0.3em 0.3em 0 rgba(107, 106, 106, 0.24), 0 1em 1em 0 rgba(119, 118, 118, 0.19);
  border:1px solid rgb(87, 100, 105);
}
#hide_remake{
  background-color: rgba(153, 153, 153, 0.377);
  color:black;
  box-shadow: 0 0.3em 0.3em 0 rgba(189, 187, 187, 0.24), 0 1em 1em 0 rgba(180, 179, 179, 0.19);
  border:0;
}
#show_remake:hover {box-shadow: 0 0.5em 0.5em 0 rgba(136, 136, 136, 0.6), 0 1em 2em 0 rgba(129, 129, 129, 0.7);}
#hide_remake:hover {box-shadow: 0 0.5em 0.5em 0 rgba(136, 136, 136, 0.6), 0 1em 2em 0 rgba(129, 129, 129, 0.7);}
#show_districts{
  background-color: rgb(87, 100, 105);
  color:white; 
  font-size: 14px;
  padding-right: 20px;
  box-shadow: 0 0.5em 0.5em 0 rgba(107, 106, 106, 0.253), 0 1em 2em 0 rgba(119, 118, 118, 0.253);
}
.fa-map-marker{font-size: 20px;}
.fa-location-arrow{font-size: 16px; color:rgb(87, 100, 105); margin-left:16px;}
#show_districts:hover {box-shadow: 0 1em 1em 0 rgba(107, 106, 106, 0.24), 0 1em 2em 0 rgba(119, 118, 118, 0.19);}
#show_tripadvisor{
  background-color: rgb(57, 122, 110);
  color:white; 
  font-size: 12px;
  box-shadow: 0 0.5em 0.5em 0 rgba(107, 106, 106, 0.253), 0 1em 2em 0 rgba(119, 118, 118, 0.253);
}
#show_tripadvisor:hover {box-shadow: 0 1em 1em 0 rgba(107, 106, 106, 0.24), 0 1em 2em 0 rgba(119, 118, 118, 0.19);}
/* 按钮 End */
/* 分割线 */
.hr_style1{
  height: 40px; 
  border-style: dashed; 
  border-color: rgba(153, 153, 153, 0.8); 
  border-width: 1px 0 0 0; 
  border-radius: 30px; 
  margin-top: 6em;
  margin-bottom: 4em;
} 
.hr_style1:before { 
  display: block; 
  content: ""; 
  height: 40px; 
  margin-top: -41px; 
  border-style: dashed; 
  border-color: rgba(153, 153, 153, 0.8); 
  border-width: 0 0 1px 0; 
  border-radius: 30px; 
}
/* 分割线 End */
/* 空白行 */
.blanklinesm {height:0.5em;}
.blankline {height:1em;}
.blanklinemd {height:2em;}
.blanklinemlg {height:4em;}
.blanklinelg {height:6em;}
/* 空白行 End */