@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Merriweather+Sans|Montserrat|Questrial&display=swap');
@import url('https://fonts.googleapis.com/css?family=Marcellus+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Arapey|Cinzel|Cookie|News+Cycle|Philosopher|Poiret+One|Sulphur+Point&display=swap');

.enterTitle {
  font-family: 'WaltographRegular';
  color: #fff; text-shadow: -0.1em 0.05em 0.1em rgb(0, 0, 0);
  margin-top: 46%; 
  font-size: 8em;
}
.enterLink {
  font-family: 'Marcellus SC';
  font-size: 2.5em;
  color: #fff; text-shadow: -0.1em 0.05em 0.2em rgb(0, 0, 0);
  margin-top:1.2em;
}
.et-right {font-size: 1em;}
.navbar {margin:0;}
.nav-item{
  margin-left: 0.3em;
}
.navbar-brand{
  font-family: 'WaltographRegular';
  font-size: x-large;
}
.nav-link {font-size: 1.1em;} 
.blanklinesm {height:0.5em;}
.blankline {height:1em;}
.blanklinemd {height:2em;}
.blanklinelg {height:6em;}
.imgBox{
  background-image:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.082),rgba(0, 0, 0, 0.555), rgb(0, 0, 0));
}
.imgBox img {mix-blend-mode:multiply;}
.newsTitle{
  font-family: 'Josefin Sans';
  color: #fff; text-shadow: 0.1em -0.1em 0.2em black;
}
.newscontent {color: #fff; text-shadow: 0.1em -0.1em 0.2em black;}
.text-center{
  font-family: 'Josefin Sans';
  color:#333; text-shadow: 0 0 0.1em rgb(180, 180, 180);
}
.section {color: #444;}
.shadow{
  font-size: 1.5em;
  text-align: center;
  font-family: 'Josefin Sans';
  color: #444; text-shadow: 0 0 0.1em rgb(180, 180, 180);
}
.footer-brand{
  font-family: 'WaltographRegular';
  color:#888;
}
.footer-content{
  color:#888;
  word-spacing: 1em;
  font-family: 'Philosopher';
}
.nav-link-title{ 
  font-size: 1.5em; 
  font-family: 'Josefin Sans';
  color: #888; text-shadow: 0 0 0.1em rgb(190, 199, 204);
} 
.social_icons {color: #888;}



