@import url('https://fonts.googleapis.com/css?family=Acme|Hi+Melody|Patrick+Hand|Permanent+Marker&display=swap');

body{
    font-family: 'Acme', sans-serif;
}
h1{
    font-size: 72px;
    color: rgb(128, 73, 150);
    text-shadow: 2px 2px 1px rgba(137, 104, 150, 0.151);
    text-align: center;
    margin-top: 15px;
}
#mainBox{
    width: 600px;
    height: 440px;
    background-color: rgb(255, 196, 0);
    margin:-40px auto;
    border-radius: 10px;
    position: relative;
    padding: 30px;
}
#scoreBox{
    background-color: rgb(128, 73, 150);
    position: absolute;
    padding:10px;
    border-radius: 5px;
    left: 520px;
    font-family: 'Patrick Hand';  
    color: #fff; 
}
#correctBox{
    background-color: #97BD0C;
    position: absolute;
    padding: 12px;
    color: #fff;
    left: 280px;
    border-radius: 5px;
    display: none;
}
#wrongBox{
    background-color: #BD310C;
    position: absolute;
    padding: 10px;
    color: #fff;
    left: 280px;
    border-radius: 5px;
    display: none;
}
#questionBox{
    background-color: rgb(128, 73, 150);
    height: 120px;
    width: 450px;
    margin: 75px auto 10px auto;
    font-size: 100px;
    color: rgb(238, 253, 211);
    text-align: center;
}
#instructionBox{
    font-family: 'Patrick Hand';
    font-size: large;
    color: rgb(113, 34, 145);
    height: 45px;
    width: 220px;
    margin:10px auto;
    text-align: center;
    line-height: 45px;
}
#choiceBox{
    height: 100px;
    width: 450px;
    margin: 5px auto;
}
.box{
    height: 80px;
    width: 85px;
    background-color: rgb(230, 247, 166);
    float: left; 
    margin-right: 36px;
    cursor: pointer;
    text-align: center;
    font-size: larger;
    line-height:80px;
}
.box:hover , #startresetBox:hover{
    background-color:rgb(132, 163, 20) ;
    color:#fff;
}
.box:last-child{
    margin-right: 0;
}
#startresetBox{
    background-color: rgba(128, 73, 150, 0.774);
    color: #fff;
    position: relative;
    margin: 0 auto;
    width: 35px;
    padding: 20px;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
}